.d1{
    width: 250px;
    height: 200vh;
    background-color: #f0f0f0;
}

.sidebar {
 
    width: 250px;
    height: 40vh;
    background-color: #f0f0f0;
    position: fixed;
    top: 200px;
    /* left: 5px; */
    overflow-y: scroll;
 
  }
  a{
    color:black;
  }
  
  .sidebar a {
    display: block;
    padding: 16px;
    text-decoration: none;
    font-family: Arial, sans-serif; 
    margin-left: 20px;
    position: relative;

  }

  .sidebar a:hover{
    color: #ff0055;
    background-color:rgb(251, 198, 216);
    border-radius: 10px;
  
  }
  


  #profile{
    height: 100px;
    width: 100px;
    position: fixed;
    top: 70px;
    left: 65px;
  }
  .active { 
   
    background-color:rgb(251, 198, 216);
    color: #ff0055;
    border-radius: 10px;
    
  }
  .sidebar a.active .ic1 {
    filter:invert(20%) sepia(100%) saturate(7495%) hue-rotate(335deg) brightness(102%) contrast(104%);

}
 
  .sidebar .ic1 {
    
    width: 25px; 
    height: 20px; 
    margin-right:10px;  
    top: 5px;
    color: #cccccc;
    transition: filter 0.5ms ease;
    
  }
  .sidebar a:hover .ic1 {
    filter:invert(20%) sepia(100%) saturate(7495%) hue-rotate(335deg) brightness(102%) contrast(104%);
  }

  ::-webkit-scrollbar {
    width: 5px;
  }
  

  ::-webkit-scrollbar-track {
    background: #cccccc; 
  }
   

  ::-webkit-scrollbar-thumb {
    background: rgb(223, 49, 107); 
  }
  

  ::-webkit-scrollbar-thumb:hover {
    background:rgb(223, 49, 107); 
  }
 

 
